@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fade-in-and-out {
  0% { opacity: 0; }
  25% { opacity: 0.8; }
  50% { opacity: 0; }
}

@keyframes fade-out-and-in {
  0% { opacity: 0.15; }
  100% { opacity: 0.15; }
}

@keyframes fade-to-half {
  0% { opacity: 1; }
  100% { opacity: 0.5; }
}

@keyframes squiggle-and-fade-out {
  0% { transform: translate(100px, 100px); opacity: 0; }
  5% { opacity: 1; }
  90% { opacity: 1; }
  95% { transform: translate(-50px, -50px); opacity: 0; left: 50%; }
  100% { left: -99999em; opacity: 0; }
}

@keyframes border-in {
  0% { border: 0px solid $color-highlight; }
  100% { border: 1.75rem solid $color-highlight; }
}

@keyframes fade-out-almost {
  100% { opacity: 0.25; }
}

@keyframes highlight-keyword {
  100% { color: $color-highlight; }
}

@keyframes full-width {
  100% { width: 100%; }
}

@keyframes shrink-item {
  100% { min-height: 0; }
}

@keyframes rotate {
  0% { transform: rotateY(-2deg) translateZ(-10px) scale(1.1); }
  100% { transform: rotateY(2deg) translateZ(-10px) scale(1.1); }
}
