// Helper: Spacing
.helper-spacing, .helper-spacing--md {
  @include vertical-rhythm;
}
.helper-spacing--xs {
  @include vertical-rhythm(0.5rem);
}
.helper-spacing--sm {
  @include vertical-rhythm(1rem);
}
.helper-spacing--lg {
  @include vertical-rhythm(4rem);
}
.helper-spacing--xl {
  @include vertical-rhythm(8rem);
}

.helper-h-spacing {
  > * {
    margin: 0 0.5rem;
  }
}

.helper-h-spacing--sm {
  > * {
    margin: 0 0.25rem;
  }
}

// Helper: Flexbox
.helper-flexbox {
  display: flex;
}
.helper-flexbox--vertical-center {
  align-self: center;
}

// Helper: Padding
.helper-padding,
.helper-padding--md {
  padding: 2rem 0;
}
.helper-padding--sm {
  padding: 1rem 0;
}
.helper-padding--lg {
  padding: 4rem 0;
}
.helper-padding--xl {
  padding: 8rem 0;
}

// Helper: Align
.helper-align--left {
  text-align: left;
}
.helper-align--right {
  text-align: right;
  @media #{$breakpoint-xs} {
    text-align: left;
  }
}
.helper-align--center {
  text-align: center;
  @media #{$breakpoint-xs} {
    text-align: left;
  }
}

// Helper: Clear
.helper-clear--fourth {
  > *:nth-child(4n + 5) {
    clear: both;
  }
}

// Helper: Display
.helper-display--inline {
  display: inline;
}